@import '@/shared/breakpoints';

.systemCapabilities {
  padding: 60px 0 45px;

  h2 {
    max-width: 981px;
    margin-bottom: 42px;
  }

  .capabilities {
    max-width: 963px;
  }

  &__container {
    position: relative;
  }

  &__content {
    position: relative;
  }

  .creditCardBg {
    position: absolute;
    right: -18px;
    bottom: 45px;
  }
}

@media screen and (max-width: $md) {
  .systemCapabilities {
    padding: 50px 5px 28.5px;

    h2 {
      padding: 0 5px;
      margin-bottom: 24px;
    }
  }
}

//58
