@import '@/shared/breakpoints';

.portfolio {
  padding: 45.5px 0 41.5px;
  position: relative;
  z-index: 1;

  h2 {
    margin-bottom: 80px;
  }

  .orderCards {
    display: flex;
    gap: 68px 20px;
  }

  .action__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 58px;
  }
}

@media screen and (max-width: $md) {
  .portfolio {
    h2 {
      padding: 0 10px;
      margin-bottom: 70px;
      text-align: center;
    }

    .orderCards {
      padding: 0 5px;
      flex-direction: column;
      align-items: center;
    }
  }
}
