@import '@/shared/breakpoints';

.cardSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &:global(.outlined) {
    gap: 33px;

    & > * {
      max-width: 294px;
    }
  }

  &:global(.solid) {
    gap: 17px;

    & > * {
      max-width: 242px;
    }
  }
}

@media screen and (max-width: $md) {
  .cardSection {
    &:global(.outlined) {
      gap: 36px 18px;

      & > * {
        max-width: calc(100% / 2 - 18px);
      }
    }

    &:global(.solid) {
      gap: 9px 7px;

      & > * {
        max-width: calc(100% / 2 - 7px);
      }
    }
  }
}
