.iconButton {
  background: none;
  border: none;
  transition: transform 0.2s;
  cursor: pointer;

  &:global(.large) {
    img {
      width: 30px;
      height: 26px;
    }
  }

  &:global(.extra-large) {
    img {
      width: 42px;
      height: 38px;
    }
  }

  &:not(:active):hover {
    transform: scale(1.05);
  }
}
