.iconButton {
  background: none;
  border: none;
  cursor: pointer;

  &:global(.large) {
    img {
      width: 30px;
      height: 26px;
    }
  }

  &:global(.extra-large) {
    img {
      width: 42px;
      height: 38px;
    }
  }
}
