@import '@/shared/breakpoints';

.aboutUs {
  padding-top: 36px;
  padding-bottom: 80px;
  position: relative;
  z-index: 1;

  &__container {
    position: relative;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
    position: relative;
  }
}

@media screen and (max-width: $md) {
  .aboutUs {
    padding-top: 20px;
    padding-bottom: 60px;

    &__content {
      flex-direction: column;
      gap: 36px;
      margin-bottom: 63px;
    }

    .characterCardWrapper {
      padding: 0 30px;
    }
  }
}
